# dependencies
node_modules
.pnp
.pnp.js

# build
.next
.open-next
opennext-server.zip
opennext-image.zip
out

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env*.local

# TypeScript
next-env.d.ts
